@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.genderWord {
  color: #FF6B6B;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-bottom: 5vh;
}

.genderButton {
  border-color:  #FF6B6B; 
  margin: 2vh 0;
  transition: background-color 0.05s;
  height: 8vh;
}

.genderButton:hover, .selected {
  background-color: #FF6B6B;
  color: white;
  border-color: #FF6B6B;
}

.customColor {
  background-color: #FF6B6B;
}

.dnaStripTop{
  height: 20vh;
  width: 120%;
  margin: 0;
  padding: 0;
  background: url('../../assets/dna.png') no-repeat top left;
  background-size: contain;
}


.dnaStripBottom {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 20vh;
  width: 42%;
  background: url('../../assets/dna.png') no-repeat bottom right;
  background-size: cover;
  z-index: 10;
}

@media (max-width: 600px) {
  h1 {
    font-size: 30px;
  }

  .genderButton {
    padding: 8px 15px;
    font-size: 24px;
  }

  .customColor {
    font-size: 20px;
    width: 70%;
    height: 40px;
  }
}