
/* Container */
.App {
  position: relative;
  background-color: #FFF3E4;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

button {
  background-color: transparent;
  border-radius: 25px;
  border: 1px solid;
  cursor: pointer;
  font-family: 'Manrope';
  font-weight: 400;
  color: #0E194D;
}

.question {
  margin-bottom: 1em;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
}

input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 80%;
  margin: 10px 0;
}