@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

/* Container */
.App {
  position: relative;
  background-color: #F1F1E7;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

button {
  background-color: transparent;
  border-radius: 25px;
  border: 2px solid;
  cursor: pointer;
  font-family: 'Manrope';
  font-weight: 600;
  color: #0E194D;
}

.question {
  margin-bottom: 1em;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.mainInput {
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
  width: 80%;
  height: 60px;
}

.calcInput {
  border: 1px solid;
  border-radius: 10px;
  padding: 5px;
  width: 80%;
  height: 30px;
  margin-bottom: 8%;
}

.calc-box {
  margin-top: 5%;
  height: 210px;
  overflow: hidden;
}

.calcButton {
  margin-top: 10%;
}

h1 {
  margin: 10% 10%;
  font-size: 30px;
  font-family: 'Manrope';
  font-weight: 800;
  color: #343a40;
  text-align: center;
}

.nextButton {
  color: white;
  font-size: larger;
  font-weight: 600;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: opacity 0.1s;
  width: 80%;
  height: 40px;
  margin-top: 5%;
}

.nextButton:hover {
  opacity: 0.8;
}

.error-message {
  color: rgba(243, 31, 31, 0.941);
}
