@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

.container {
  text-align: left;
  padding: 20px;
  height: 100vh;
  background-color: #FFF3E4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Manrope';
}

.healthBar {
  width: 65%;
  max-width: 500px;
  height: auto;
}

.people {
  width: 90%;
  max-width: 500px;
  height: auto;
  margin-bottom: 20px;
}

.title {
  margin-bottom: 30px;
  color: #333;
  font-size: 24px;
  font-weight: 800;
}

.startButton {
  background-color: #FFA500;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 30px;
}

.startButton:hover {
  background-color: #cc8400;
}

